<section class="py-5">
    <div class="container">
        <h1>Your request is not valid.</h1> 
        <h3>Errors:</h3>

        <ul>
            {{foreach}}
            {
                <li>{{ErrorMessage}}</li>
            }
        </ul>
    </div>
</section>
