<form method="post" class="seat-form">
   <input type="text" placeholder="Price" id="price" name="Price">
   <input type="number" name="TicketsCount" min="1" max="999" placeholder="Tickets Counter" >
   <button type="submit" class="create-seat" value="Create Seat">Create Seat</button>
</form>