<h2>Create your accout:</h2>
<form method="post">
    <div class="label-holder textCol d-flex justify-content-center">
        <label>Username:</label>
        <input type="text" placeholder="Username" id="username" name="Username" />
    </div>
    <div class="label-holder textCol d-flex justify-content-center">
        <label>Email:</label>
        <input type="email" placeholder="Email" id="email" name="Email" />
    </div>
    <div class="label-holder textCol d-flex justify-content-center">
        <label>Password:</label>
        <input type="password" placeholder="Password" id="password" name="Password" />
    </div>
    <div class="label-holder textCol d-flex justify-content-center">
        <label>Repeat Password:</label>
        <input type="password" placeholder="Repeat Password" id="confirmPassword" name="ConfirmPassword" />
    </div>
    <button type="submit" class="register" value="Register">Register</button>
</form>