<h2>Add new Destination</h2>
<form method="post">
   <div class="form-group">
      <label>Destination Name:</label>
      <input type="text" placeholder="Destination Name"  id="destinationName" name="DestinationName" />
   </div>
   <div class="form-group">
      <label>Origin:</label>
      <input type="text" placeholder="Origin" id="origin" name="Origin" />
   </div>
   <div class="form-group">
      <label>Date and Time:</label>
      <input type="datetime-local" id="date" name="Date" />
   </div>
   <div class="form-group">
      <label>Image:</label>
      <input type="text" id="imageUrl" name="ImageUrl" />
   </div>
   <input type="submit" class="create" value="Create">
</form>